
body {
  background-color: black;
}

#cardId {

  background-color: rgb(11,222,187);
}

#image {
  height: 50px;
  width: 50px;
}

#bottom {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  margin: 10%;
  justify-content: center;
}

#button2, #button1 {

  background-color: rgb(11,222,187);


}

#eName, #sName,  {
  text-align: center;
  color: blue;
}

#image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;


}
